<div class="container" style="font-family: 'Epilogue', sans-serif;">
  <div class="row">
    <div class="col mr-2 p-3">
      <div class="row my-5" style="font-weight: 700; font-size: 80px;"><div class="container">Make</div><div class="container">remote work</div></div>
      <div class="row my-5" style="font-size: 18px;"><div class="container">Get your team in sync, no matter your location.</div><div class="container">Streamline processes, create team rituals, and</div><div class="container">watch productivity scar.</div></div>
      <div class="row my-5"><button class="btn btn-outline-dark my-2  ml-3 btn-lg" type="submit">Learn More</button></div>
      <div class="row my-5">
        <div class="col"><%= image_tag("client-databiz.svg") %></div>
        <div class="col"><%= image_tag("client-audiophile.svg") %></div>
        <div class="col"><%= image_tag("client-meet.svg") %></div>
        <div class="col"><%= image_tag("client-maker.svg") %></div>
      </div>
    </div>
    <div class="col ml-3">
      <%= image_tag("image-hero-desktop.png", size: "527x593", class: "pl-5") %>
    </div>
  </div>