<div class="container" style="font-family: 'Epilogue', sans-serif;">
  <div class="row">
   <div class="col ml-3">
      <%= image_tag("image-hero-desktop.png", size: "445x661", class: "pl-5") %>
    </div>
    <div class="col mr-2 p-3 text-center">
      <div class="row my-5" style="font-weight: 700; font-size: 60px;"><div class="container">Make remote work</div></div>
      <div class="row my-5" style="font-size: 32px;"><div class="container">Get your team in sync, no matter your location.Streamline processes, create</div><div class="container">team rituals, and watch productivity scar.</div></div>
      <div class="row my-5"><button class="btn btn-dark my-2 mx-auto btn-lg" type="submit">Learn More</button></div>
      <div class="row my-5">
        <div class="col"><%= image_tag("client-databiz.svg") %></div>
        <div class="col"><%= image_tag("client-audiophile.svg") %></div>
        <div class="col"><%= image_tag("client-meet.svg") %></div>
        <div class="col"><%= image_tag("client-maker.svg") %></div>
      </div>
    </div>
  </div>
  